{% extends 'base.html' %}
{% block content %}
<h1>Setores</h1>
<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for setor in setores %}
            <td>{{setor.id}}</td>
            <td>{{setor.descricao}}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'edit_setor' setor.id %}" role="button" title="Editar">
                    <i class="fa-solid fa-pen"></i> Editar
                </a>
                <a class="btn btn-outline-danger btn-sm" href="#" role="button" title="Excluir">
                    <i class="fa-solid fa-trash"></i> Excluir
                </a>
            </td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}